body,*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    padding-left: 15%;
    padding-right: 15%;
}

ul{
    overflow: hidden;
    text-align: center;
    padding: 0;
}

ul li{
    display: inline-block;
    text-decoration: none;
    padding: 0 10%;
}

.text-center{
    text-align: center;
}

.formGroup{
    width: 100%;
    margin: 2% auto;
}

.formGroup > input:focus{
    border-color: blue;
    transition: all 0.3s ease;
}

.formGroup > label{
    width: 50%;
}

.form-control{
    padding: 10px 10px;
    border-radius: 2px;
    outline: none;
    border: 1px solid gray;
    font-size: 15px;
    width: 50%;
}

.form-input-div{
    width: 50%;
    text-align: left;
}

.input-label{
    width: 10%;
}

.row{
    display: flex;
}

.btn{
    padding: 10px 40px;
    outline: none;
    background-color: red;
    border: 0;
    border-radius: 4px;
    color: white;
    line-height: 12.5px;
}